
body {
  background-color: #ffddcc;
}

hr {
  background-color: #ffddcc;
  border-style: dotted none none;
  border-color: #ff7171;
  width: 5%;
  border-width: 3.5px;
}

h1{
  color: #ff2e63;
}

h3{
  color: #ff2e63;
}
